<div class="shop-menu pull-right">
    <ul class="nav navbar-nav">
        <li><a asp-controller="Home" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Оформить заказ</a></li>
        <li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Корзина</a></li>
        <li><a asp-controller="Account" asp-action="Register"><i class="fa fa-sign-in"></i> Регистрация</a></li>
        <li><a asp-controller="Account" asp-action="Login"><i class="fa fa-lock"></i> Вход</a></li>
    </ul>
</div>